<%- include("partials/header"); -%>
<h1>HOME</h1>
<p><%=home%></p>

    <%posts.forEach(function(posts_item){%>

    <h1><%=(posts_item.title);%></h1>
    <p>
        
        <% if (posts_item.content.length <= 100) { %>
            <%= posts_item.content %>
            <% } else { %>
            <%= posts_item.content.substring(0,100) + "..." %>
            <a href="post/<%=posts_item.title%>"    >Read more..</a>
            <% } %>
    </p>
    
<%})%>

<%- include("partials/footer"); -%>